services:
  backend:
    image: ${BACKEND_IMAGE:-ghcr.io/tancred423/MemeArchive/backend:latest}
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    env_file:
      - .env
    networks:
      - default
      - mysql-network

  frontend:
    image: ${FRONTEND_IMAGE:-ghcr.io/tancred423/MemeArchive/frontend:latest}
    ports:
      - "${APP_PORT:-80}:80"
    depends_on:
      - backend

networks:
  mysql-network:
    external: true
